@charset "UTF-8";

// ***********************************************
//  Hero
// ***********************************************
.hero {

  @media #{$device-l} {
  }

  &-catch {
    margin: 20px 0 25px;

    @media #{$device-l} {
    }

    &.is-typewrite {
      margin: 0 0 20px;
      line-height: 2.0;
      font-family: $ff-mono;
      letter-spacing: 0.15em;
      font-size: 1.8rem;
      font-weight: bold;
      white-space: nowrap;
      @extend %typewrite;
    }

    small {
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: 0.6em;
    }
  }

  &-link {
    @extend %mono;

    @media #{$device-l} {
    }

    a {
      position: relative;
      display: block;
      padding: 5px;
      padding-left: 45px;
      color: #fff;
      text-decoration: none;
      font-weight: bold;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        display: block;
        height: 1px;
        margin: auto 0;
        background-color: #fff;
      }

      &::before {
        left: 0;
        width: 16px;
      }

      &::after {
        left: 22px;
        width: 10px;
      }
      &:hover::before{
        width: 4px;
        height: 4px;
        border-radius: 100%;
      }
    }
  }
}
