@charset "UTF-8";

// ***********************************************
//  Menu
// ***********************************************
.site-logo {
  position: relative;
  z-index: 10;
  float: left;
  width: auto;
  height: 45px;

  a {
    display: block;
    overflow: hidden;
  }

  img {
    display: block;
    width: auto;
    height: 100%;
  }

  @media #{$device-l} {
    height: 55px;
  }
}

.menu {
  $margin: 20px;

  &-container {
    position: fixed;
    overflow: hidden;
    z-index: 40;
    top: 0;
    left: 0;
    right: 0;
    padding: $margin;
    margin: 0 auto;
    transition-duration: $duration;

    @media #{$device-l} {
    }

    .cover {
      position: absolute;
      z-index: 1;
      bottom: inherit;
      height: 100vh;
      margin: 0 auto;
      background-color: #000;
    }

    &.is-hide {
      top: -85px;
      transition-duration: 0.8s;

      @media #{$device-l} {}
    }

    &.is-open {
      overflow: visible;

      .cover {
        pointer-events: auto;
      }

      .menu {

        @media #{$device-l} {
        }

        &-button {
          flex-direction: row-reverse;

          @media #{$device-l} {
          }

          &-icon {
            width: 12px;
            height: 12px;
            margin-right: 0;
            margin-left: 15px;

            >span {
              width: 140%;
              margin: 0;

              &:nth-child(1) {
                right: inherit;
                transform: rotate(45deg);
                transform-origin: 0 50%;
              }

              &:nth-child(2) {
                opacity: 0;
              }

              &:nth-child(3) {
                top: 0;
                bottom: inherit;
                transform: rotate(-45deg);
                transform-origin: 100% 50%;
              }
            }
          }
        }

        &-list {
          opacity: 1;
          pointer-events: auto;

          @media #{$device-l} {
          }
        }
      }
    }
  }

  @media #{$device-l} {
  }

  &-button {
    position: absolute;
    z-index: 10;
    top: 0;
    right: $margin;
    bottom: 0;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    text-decoration: none;

    @media #{$device-l} {
    }

    &-icon {
      position: relative;
      width: 50px;
      height: 9px;
      margin-right: 10px;

      @media #{$device-l} {
      }

      >span {
        position: absolute;
        height: 2px;
        background-color: #fff;

        &:nth-child(1) {
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
        }

        &:nth-child(2) {
          width: 60%;
          bottom: 0;
          left: 0;
        }

        &:nth-child(3) {
          width: 30%;
          bottom: 0;
          right: 0;
        }
      }
    }

    &-text {
      @extend %mono;
      font-weight: bold;
      font-size: 1.2rem;
      color: #fff;

      @media #{$device-l} {
      }
    }
  }

  &-list {
    $padding: 85px;

    position: fixed;
    z-index: 10;
    top: $padding;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: $padding;
    margin: auto;

    opacity: 0;
    pointer-events: none;

    @media #{$device-l} {
    }

    >li {
      position: relative;
      z-index: 30;
      margin: 10px 0;
    }

    a {
      display: block;
      padding: 5px;
      line-height: 1.5;
      text-align: center;
      @extend %mono;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
